
typings
**/app/**/*.js
**/app/**/*.map
node_modules
jspm_packages
bower_components

**/*.log/*.*
**/*.log

.vs
**/*.sou
**/*.user
bin
obj
packages

Demo-Start/package.json
Demo-Start/package-lock.json
Demo-Start/bs-config.json
